{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class='topimg section' id='topimg'>
    <div class='widget HTML' data-version='1' id='HTML2'>
        <div class='clear'></div>
        <span class='widget-item-control'>
            <span class='item-control blog-admin'>
                <a class='quickedit' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML2"));' rel='nofollow' target='configHTML2' title='Edit'>
                    <img alt='' height='18' src='http://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
                </a>
            </span>
        </span>
        <div class='clear'></div>
    </div>
</div>
<div class='row'>
    <div class='twelve columns'>
        <div id='leftContent'>
            <div class='inner'>
                <div class='main section' id='main'>
                    <div class='widget Blog' data-version='1' id='Blog1'>

                        <div id='post_grids' class='row'>

                            

                        </div>
                        <div id='study_search_list' style="display: none;" class='row'>

                            

                        </div>
                        <div class='blog-pager' id='blog-pager'>
                            <a class='home-link' href='index.html'>Home</a>
                            <span id='blog-pager-older-link'>
                                <a class='blog-pager-older-link' style="height: 30px;width: 120px;" href='javascript:void(0)' onclick="showmoreStudy()" id='showmore' title='Older Posts'>Show More</a>
                            </span>
                        </div>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='clear'></div>
    </div>
</div>
{% endblock %}

{% block script %}
    {# <script type='text/javascript' src="{{ asset('assets/js/script.js') }}"></script>
    <script type="text/javascript" src="http://www.blogger.com/static/v1/widgets/53698643-widgets.js"></script> #}
    <script>
    function showmoreStudy(){
        var url = '{{ path("getstudies") }}';
        var start = $('#post_grids .study').length;
        $.ajax({
            url: url,
            type: "GET",
            data: {start:start},
            beforeSend: function() {
                $('#showmore').html('<img style="height: 100%" src="{{ asset("assets/img/loader-trn.gif") }}">');
            },
            success: function(result){
                if(result){
                    $("#post_grids").append(result);
                    $('#showmore').html('Show More');
                }else{
                    $('#showmore').hide();
                }
            }
        });
    }

    function delay(callback, ms) {
        var timer = 0;
        return function() {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    function ajaxsearchstudy(q){
        var url = '{{ path("searchstudies") }}';
        var start = $('#post_grids .study').length;
        if(q != ''){
            $.ajax({
                url: url,
                type: "GET",
                data: {q:q},
                success: function(result){
                    $("#study_search_list").show();
                    $("#post_grids").hide();
                    $("#study_search_list").html(result);
                    $('#showmore').hide();
                }
            });
        }else{
            $("#study_search_list").hide();
            $("#post_grids").show();
            $('#showmore').show();
        }
    }
    function searchshow($el){
        if($el.value != ''){
            $($el).addClass('show');
        }else{
            $("#study_search_list").hide();
            $("#post_grids").show();
            $('#showmore').show();
        }
    }

    $( document ).ready(function() {
        showmoreStudy();
        /*$('#searchstudy').keyup(delay(function (e) {
            ajaxsearchstudy(this.value);
        }, 300));*/
        $('#searchstudy').change(function(){
            if(this.value == ''){
                $('#searchstudy').removeClass('show');
                $("#study_search_list").hide();
                $("#post_grids").show();
                $('#showmore').show();
            }
        });
        $('#searchform').submit(function(e){
            e.preventDefault();
            var q = $(this).serialize()
            var url = $(this).attr('action')
            var values = {};
            $.each($(this).serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
            ajaxsearchstudy(values.q);
        });
        $('#searchstudy').keyup(function(){searchshow(this);});
    });
    </script>
{% endblock %}
