{% extends 'base.html.twig' %}

{% block title %}Upload CSV{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class='topimg section' id='topimg'>
    <div class='widget HTML' data-version='1' id='HTML2'>
        <div class='clear'></div>
        <span class='widget-item-control'>
            <span class='item-control blog-admin'>
                <a class='quickedit' title='Edit'>
                    <img alt='' height='18' src='http://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
                </a>
            </span>
        </span>
        <div class='clear'></div>
    </div>
</div>
<div class='row'>
    <div class='twelve columns'>
        <div id='leftContent'>
            <div class='inner'>
                <div class='main section' id='main'>
                    <div class='widget Blog' data-version='1' id='Blog1'>
                        <div id='post_grids' class='row'>
                            <div class="login" style="width: 300px;margin: auto;margin-bottom: 50px;">
                                <form action="{{path('bzkf_uploadpocess')}}" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="file" style="margin-bottom: 15px;" autocomplete="off">
                                    <button type="submit">Upload</button>
                                </form>
                            </div>
                        </div>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='clear'></div>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}